In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('Louisville_Metro_KY_-_Library_Collection_Inventory_.csv')

In [5]:
df.head()

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate,ObjectId
0,707409,"Jeff Immelt and the new GE way : innovation, t...","Magee, David, 1965-",9.780072e+12,2009,Book,Adult Non-Fiction,Main,25.95,2022/07/01 04:00:00+00,1
1,1341361,McGraw-Hill's American idioms dictionary,"Spears, Richard A.",9.780071e+12,2007,Book,ELL Collection,South Central,20.00,2022/07/01 04:00:00+00,2
2,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Southwest,19.99,2022/07/01 04:00:00+00,3
3,1341362,McGraw-Hill's essential ESL grammar : a handbo...,"Lester, Mark.",9.780071e+12,2008,Book,ELL Collection,South Central,20.00,2022/07/01 04:00:00+00,4
4,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Southwest,19.99,2022/07/01 04:00:00+00,5

In [6]:
#Checking dtypes and adjusting as needed
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1657555 entries, 0 to 1657554
Data columns (total 11 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   BibNum           1657555 non-null  int64
 1   Title            1657554 non-null  object
 2   Author           1461831 non-null  object
 3   ISBN             1422972 non-null  float64
 4   PublicationYear  1657555 non-null  int64
 5   ItemType         1657555 non-null  object
 6   ItemCollection   1657350 non-null  object
 7   ItemLocation     1657555 non-null  object
 8   ItemPrice        1657555 non-null  float64
 9   ReportDate       1657555 non-null  object
 10  ObjectId         1657555 non-null  int64
dtypes: float64(2), int64(3), object(6)
memory usage: 139.1+ MB

In [7]:
df = df.astype({'ISBN':'object'})
df.dtypes

BibNum               int64
Title               object
Author              object
ISBN                object
PublicationYear      int64
ItemType            object
ItemCollection      object
ItemLocation        object
ItemPrice          float64
ReportDate          object
ObjectId             int64
dtype: object

In [11]:
#Dropping columns?
df.columns

Index(['BibNum', 'Title', 'Author', 'ISBN', 'PublicationYear', 'ItemType',
       'ItemCollection', 'ItemLocation', 'ItemPrice', 'ReportDate',
       'ObjectId'],
      dtype='object')

In [13]:
#Missing data?
df.isna()

df.isna().sum()

BibNum                  0
Title                   1
Author             195724
ISBN               234583
PublicationYear         0
ItemType                0
ItemCollection        205
ItemLocation            0
ItemPrice               0
ReportDate              0
ObjectId                0
dtype: int64

In [ ]:
df.loc[df['Title'].isna()]
#drop?

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate,ObjectId
243965,2239375,NaN,NaN,NaN,0,Book,NaN,Crescent Hill,0.0,2022/07/01 04:00:00+00,243966

In [15]:
df.loc[df['ItemCollection'].isna()]

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate,ObjectId
8026,1353780,LANKIE MANTITA,LESLIE PATRICELLI,NaN,0,Book,NaN,Shively,0.0,2022/07/01 04:00:00+00,8027
8587,2511351,My First Pet,NaN,NaN,0,Book,NaN,Newburg,0.0,2022/07/01 04:00:00+00,8588
10501,1362079,Act of War,"Brown, Dale",NaN,0,Book,NaN,Bon Air,0.0,2022/07/01 04:00:00+00,10502
16848,2410700,FOUR,VERONICA ROTH,NaN,0,Book,NaN,Crescent Hill,0.0,2022/07/01 04:00:00+00,16849
22165,2481658,designing your work life,bill burnett,NaN,0,Book,NaN,St Matthews,0.0,2022/07/01 04:00:00+00,22166
...,...,...,...,...,...,...,...,...,...,...,...
1656927,2528221,The Khipu and the Final Key,Dee Garretson,NaN,0,Book,NaN,Northeast,0.0,2022/07/01 04:00:00+00,1656928
1656933,2528222,MOMMY'S DISEASE,CAROLYN HANNAN,NaN,0,Book,NaN,Southwest,0.0,2022/07/01 04:00:00+00,1656934
1657038,2527377,use,NaN,NaN,0,Book,NaN,Northeast,0.0,2022/07/01 04:00:00+00,1657039
1657505,2527399,the girl in the road,MONICA BYRNE,NaN,0,Book,NaN,Main,0.0,2022/07/01 04:00:00+00,1657506
1657506,2527400,See Night Run,NaN,NaN,0,Book,NaN,Childrens Main Library,0.0,2022/07/01 04:00:00+00,1657507

In [22]:
zeros_in_pub_yr = df[df['PublicationYear'] == 0]
zeros_in_pub_yr

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate,ObjectId
5054,1348353,Stolen legacy: the Egyptian origins of western...,"James, George G. M",NaN,0,Book,Interlibrary Loan,Main,0.00,2022/07/01 04:00:00+00,5055
6417,1351064,Bước vào đời : tuồng cải lương,NaN,NaN,0,DVD,Adult DVD,Iroquois,29.99,2022/07/01 04:00:00+00,6418
6515,1351072,Đừng phụ tình đời : DVD cải lương,NaN,NaN,0,Videorecording,Adult DVD,Iroquois,29.99,2022/07/01 04:00:00+00,6516
6592,1351079,Người đẹp và tỷ phú,NaN,NaN,0,DVD,Adult DVD,South Central,29.99,2022/07/01 04:00:00+00,6593
6721,1351089,Đẹp từng centimet.,NaN,NaN,0,DVD,Adult DVD,South Central,29.99,2022/07/01 04:00:00+00,6722
...,...,...,...,...,...,...,...,...,...,...,...
1657143,2528085,"Cognitive Mapping : Past, Present, and Future","Kitchin, Rob",NaN,0,Book,Interlibrary Loan,Main,0.00,2022/07/01 04:00:00+00,1657144
1657146,2528087,Eye of the Beholder,"Krentz, Jayne",NaN,0,Book,Interlibrary Loan,Main,0.00,2022/07/01 04:00:00+00,1657147
1657175,2528088,Sharp Edges,"Krentz, Jayne",NaN,0,Book,Interlibrary Loan,Main,0.00,2022/07/01 04:00:00+00,1657176
1657505,2527399,the girl in the road,MONICA BYRNE,NaN,0,Book,NaN,Main,0.00,2022/07/01 04:00:00+00,1657506
1657506,2527400,See Night Run,NaN,NaN,0,Book,NaN,Childrens Main Library,0.00,2022/07/01 04:00:00+00,1657507

In [23]:
zero_item_price = df[df['ItemPrice'] == 0]
zero_item_price

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate,ObjectId
99,2263735,The Cornwalls Vanish,"DuBois, Brendan",9780316489256.0,2019,Ebook,Electronic,Main,0.0,2022/07/01 04:00:00+00,100
350,2263736,The Best Cook in the World,"Bragg, Rick",9780525520283.0,2018,Ebook,Electronic,Main,0.0,2022/07/01 04:00:00+00,351
351,2263737,The Art of Tapestry Weaving,"Mezoff, Rebecca",9781635861365.0,2020,Ebook,Electronic,Main,0.0,2022/07/01 04:00:00+00,352
352,2263738,Cornwall's Wonderland,"Quiller-couch, Mabel",NaN,2021,Ebook,Electronic,Main,0.0,2022/07/01 04:00:00+00,353
353,2263739,Target: Alex Cross,"Patterson, James",9780316417518.0,2018,Ebook,Electronic,Main,0.0,2022/07/01 04:00:00+00,354
...,...,...,...,...,...,...,...,...,...,...,...
1657502,2527397,A Duke for Diana,"Jeffries, Sabrina",9781420153781.0,2022,Ebook,Electronic,Main,0.0,2022/07/01 04:00:00+00,1657503
1657503,2527398,Secret City,"Kirchick, James",9781250823793.0,2022,Eaudiobook,Electronic,Main,0.0,2022/07/01 04:00:00+00,1657504
1657504,2527398,Secret City,"Kirchick, James",9781250823793.0,2022,Eaudiobook,Electronic,Main,0.0,2022/07/01 04:00:00+00,1657505
1657505,2527399,the girl in the road,MONICA BYRNE,NaN,0,Book,NaN,Main,0.0,2022/07/01 04:00:00+00,1657506
1657506,2527400,See Night Run,NaN,NaN,0,Book,NaN,Childrens Main Library,0.0,2022/07/01 04:00:00+00,1657507

In [26]:
#Find duplicated data
df.duplicated(keep=False).sum()

np.int64(0)

In [27]:
#Find unique values for qualitative data
df['Title'].value_counts()

Title
The courier-journal                                           1352
The Blood-horse.                                              1028
People weekly.                                                 909
Annual report.                                                 588
Consumer reports.                                              498
                                                              ...
Jeeves and the wedding bells : an homage to P.G. Wodehouse       1
Sandrine's Case                                                  1
Ghostgirl : lovesick                                             1
Daughters of the sea : Hannah                                    1
Abstract painting : the elements of visual language              1
Name: count, Length: 601965, dtype: int64

In [28]:
df['ItemCollection'].value_counts()

ItemCollection
Adult Non-Fiction         372781
Electronic                237469
Adult Fiction             173481
Children's Non-Fiction     86854
Mystery                    60164
                           ...
Digital Camera                18
Listening Device              16
Launchpad                     10
Teen Reference                 9
Telescope                      6
Name: count, Length: 64, dtype: int64

In [29]:
df['ItemLocation'].value_counts()

ItemLocation
Main                         416473
Remote Shelving - Main       153026
Northeast                    146500
South Central                141712
Southwest                    137503
Bon Air                       83684
St Matthews                   83030
Jeffersontown                 71236
Iroquois                      61111
Highlands - Shelby Park       53447
Crescent Hill                 52318
Childrens Main Library        42318
Middletown                    37940
Fairdale                      29005
Newburg                       27924
Shively                       27625
Shawnee                       27210
Western                       25123
Portland                      16462
Childrens Bookmobile           9532
Remote Shelving - Shawnee      8302
Main Teen                      6068
Adult Bookmobile                  3
Content Management                3
Name: count, dtype: int64

In [41]:
df.groupby('ItemLocation')['ItemType'].value_counts().sort_values(ascending=False)

ItemLocation            ItemType
Main                    Ebook                                   151679
Remote Shelving - Main  Book                                    139777
Northeast               Book                                    122316
Main                    Book                                    121200
Southwest               Book                                    118845
                                                                 ...
Main Teen               Ebook                                        1
South Central           Map                                          1
                        Electronic Resources                         1
Main Teen               Three Dimensional Object (Artifact)          1
Western                 Two Dimensional Nonprojected Graphic         1
Name: count, Length: 420, dtype: int64

In [34]:
#Look over quantitative data
df['ItemPrice'].describe().apply(lambda x: f'${x:,.2f}')

count    $1,657,555.00
mean            $17.40
std             $20.12
min              $0.00
25%              $7.40
50%             $14.99
75%             $24.00
max          $1,077.00
Name: ItemPrice, dtype: object

In [38]:
avg_itemprice_by_loc = df.groupby('ItemLocation')['ItemPrice'].mean()
avg_itemprice_by_loc

ItemLocation
Adult Bookmobile             13.566667
Bon Air                      19.273372
Childrens Bookmobile         12.118962
Childrens Main Library       15.314201
Content Management           26.650000
Crescent Hill                17.711214
Fairdale                     18.089948
Highlands - Shelby Park      17.547254
Iroquois                     18.430756
Jeffersontown                18.220429
Main                         12.165186
Main Teen                    14.973309
Middletown                   14.611918
Newburg                      17.458841
Northeast                    14.690511
Portland                     15.630329
Remote Shelving - Main       29.921947
Remote Shelving - Shawnee    17.301383
Shawnee                      17.146747
Shively                      16.535737
South Central                19.177291
Southwest                    19.010492
St Matthews                  18.491232
Western                      20.913008
Name: ItemPrice, dtype: float64

In [39]:
avg_itemprice_by_type = df.groupby('ItemType')['ItemPrice'].mean()
avg_itemprice_by_type

ItemType
Archival/Mixed Materials                  8.200000
Atlas                                    49.650536
Audio Book on CD                         38.221732
Audio Books                              57.683143
Blu-ray + DVD                            16.383889
Blu-ray Disc                             18.923107
Book                                     18.507509
Book + CD                                15.420270
Book + DVD                               25.873387
Braille                                  10.998308
DVD                                      17.319360
Eaudiobook                                0.000000
Ebook                                     0.003741
Electronic Resources                      0.526456
Emagazine                                 0.000000
Kit                                     153.344495
Large Print                              29.302299
Manuscript Material                      13.982500
Manuscript Music                         21.990000
Map                                      26.598125
Microform                                51.097426
Music CD                                 13.585012
Musical Sound Recording                  14.264641
Printed Cartographic Material            35.656667
Printed Music                            25.722767
Projected Medium                          0.596330
Recorded Events                           0.000000
Serial                                   39.172059
Sound Recording                          49.945617
Streaming Music                           0.000000
Streaming Video                           0.000000
Three Dimensional Object (Artifact)      80.860795
Two Dimensional Nonprojected Graphic     27.640571
Videorecording                           21.994354
Videotape                                85.000000
Name: ItemPrice, dtype: float64

In [58]:
title_by_yr = df.groupby('PublicationYear')['Title'].value_counts()
title_by_yr

PublicationYear  Title
0                Annual report.                                                                 495
                 Louisville.                                                                    455
                 Kentucky living.                                                               434
                 Industrial resources: Kentucky                                                 352
                 News and Tribune.                                                              343
                                                                                               ...
2099             Miracles on the Hardwood                                                         1
2109             Murder knocks twice : a mystery                                                  4
5124             Annual report of the Louisville City Hospital.                                   6
9999             Residual life assessment of major light water reactor components : overview      1
                 The Greene murder case : a Philo Vance story                                     1
Name: count, Length: 663084, dtype: int64

In [65]:
odd_pub_yr = df[df['PublicationYear'] >= 2025]
odd_pub_yr

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate,ObjectId
30527,2344805,The Shift,"Johnson, Tory",9780316286626.0,2050,Ebook,Electronic,Main,0.00,2022/07/01 04:00:00+00,30528
299609,407990,Residual life assessment of major light water ...,NaN,NaN,9999,Book,Government Documents,Main,75.00,2022/07/01 04:00:00+00,299610
725313,820258,The Greene murder case : a Philo Vance story,"Van Dine, S. S.",NaN,9999,Book,Mystery,Main,14.95,2022/07/01 04:00:00+00,725314
731136,832136,Annual report of the Louisville City Hospital.,"Louisville City Hospital (Louisville, Ky.)",NaN,5124,Serial,Kentucky History,Main,2.00,2022/07/01 04:00:00+00,731137
731137,832136,Annual report of the Louisville City Hospital.,"Louisville City Hospital (Louisville, Ky.)",NaN,5124,Serial,Kentucky History,Main,2.00,2022/07/01 04:00:00+00,731138
731138,832136,Annual report of the Louisville City Hospital.,"Louisville City Hospital (Louisville, Ky.)",NaN,5124,Serial,Kentucky History,Main,2.00,2022/07/01 04:00:00+00,731139
731139,832136,Annual report of the Louisville City Hospital.,"Louisville City Hospital (Louisville, Ky.)",NaN,5124,Serial,Kentucky History,Main,2.00,2022/07/01 04:00:00+00,731140
731140,832136,Annual report of the Louisville City Hospital.,"Louisville City Hospital (Louisville, Ky.)",NaN,5124,Serial,Kentucky History,Main,2.00,2022/07/01 04:00:00+00,731141
731141,832136,Annual report of the Louisville City Hospital.,"Louisville City Hospital (Louisville, Ky.)",NaN,5124,Serial,Kentucky History,Main,2.00,2022/07/01 04:00:00+00,731142
756230,2289915,Everything Will Be Okay,"Perino, Dana",9781538708873.0,2099,Ebook,Electronic,Main,0.00,2022/07/01 04:00:00+00,756231
1135135,2382124,Miracles on the Hardwood,"Gasaway, John",9781538708880.0,2099,Ebook,Electronic,Main,0.00,2022/07/01 04:00:00+00,1135136
1226490,2391415,The fanatic,NaN,NaN,2029,Streaming Video,Electronic,Main,0.00,2022/07/01 04:00:00+00,1226491
1284471,2316126,G.I. Joe: Snake Eyes,"Dixon, Chuck",NaN,2029,Ebook,Electronic,Main,0.00,2022/07/01 04:00:00+00,1284472
1427253,2193788,"Archie varsity edition. Volume 2, issue 13-22","Waid, Mark, 1962-",9781682557983.0,2026,Ebook,Electronic,Main,0.00,2022/07/01 04:00:00+00,1427254
1430824,2196389,"Sabrina the teenage witch (2019-). Volume 1, i...","Thompson, Kelly.",9781682558041.0,2025,Ebook,Electronic,Main,0.00,2022/07/01 04:00:00+00,1430825
1431791,2197071,Archie comics super special: archie's christma...,"Superstars, Archie.",9781645761914.0,2033,Ebook,Electronic,Main,0.00,2022/07/01 04:00:00+00,1431792
1431844,2197123,Archie 1955. Issue 3,"Waid, Mark, 1962-",9781645761907.0,2032,Ebook,Electronic,Main,0.00,2022/07/01 04:00:00+00,1431845
1432774,2197597,Through treasure's door,NaN,NaN,2030,Streaming Video,Electronic,Main,0.00,2022/07/01 04:00:00+00,1432775
1454971,2207499,Revealed: the hunt for bin laden,NaN,NaN,2050,Streaming Video,Electronic,Main,0.00,2022/07/01 04:00:00+00,1454972
1551090,2230395,Murder knocks twice : a mystery,"Calkins, Susanna",9781250190833.0,2109,Book,Mystery,South Central,10.49,2022/07/01 04:00:00+00,1551091
1551091,2230395,Murder knocks twice : a mystery,"Calkins, Susanna",9781250190833.0,2109,Book,Mystery,Northeast,10.49,2022/07/01 04:00:00+00,1551092
1551092,2230395,Murder knocks twice : a mystery,"Calkins, Susanna",9781250190833.0,2109,Book,Mystery,Jeffersontown,10.49,2022/07/01 04:00:00+00,1551093
1551093,2230395,Murder knocks twice : a mystery,"Calkins, Susanna",9781250190833.0,2109,Book,Mystery,Middletown,16.19,2022/07/01 04:00:00+00,1551094