In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Louisville_Metro_KY_-_Library_Collection_Inventory_.csv')

In [3]:
df.head()

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate,ObjectId
0,707409,"Jeff Immelt and the new GE way : innovation, t...","Magee, David, 1965-",9.780072e+12,2009,Book,Adult Non-Fiction,Main,25.95,2022/07/01 04:00:00+00,1
1,1341361,McGraw-Hill's American idioms dictionary,"Spears, Richard A.",9.780071e+12,2007,Book,ELL Collection,South Central,20.00,2022/07/01 04:00:00+00,2
2,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Southwest,19.99,2022/07/01 04:00:00+00,3
3,1341362,McGraw-Hill's essential ESL grammar : a handbo...,"Lester, Mark.",9.780071e+12,2008,Book,ELL Collection,South Central,20.00,2022/07/01 04:00:00+00,4
4,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Southwest,19.99,2022/07/01 04:00:00+00,5

In [ ]:
#Checking dtypes and adjusting as needed
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1657555 entries, 0 to 1657554
Data columns (total 11 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   BibNum           1657555 non-null  int64
 1   Title            1657554 non-null  object
 2   Author           1461831 non-null  object
 3   ISBN             1422972 non-null  float64
 4   PublicationYear  1657555 non-null  int64
 5   ItemType         1657555 non-null  object
 6   ItemCollection   1657350 non-null  object
 7   ItemLocation     1657555 non-null  object
 8   ItemPrice        1657555 non-null  float64
 9   ReportDate       1657555 non-null  object
 10  ObjectId         1657555 non-null  int64
dtypes: float64(2), int64(3), object(6)
memory usage: 139.1+ MB

In [5]:
df = df.astype({'ISBN':'object'})
df.dtypes

BibNum               int64
Title               object
Author              object
ISBN                object
PublicationYear      int64
ItemType            object
ItemCollection      object
ItemLocation        object
ItemPrice          float64
ReportDate          object
ObjectId             int64
dtype: object

In [ ]:
#Handling missing data