In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('Louisville_Metro_KY_-_Library_Collection_Inventory_.csv')

In [5]:
df.head()

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate,ObjectId
0,707409,"Jeff Immelt and the new GE way : innovation, t...","Magee, David, 1965-",9.780072e+12,2009,Book,Adult Non-Fiction,Main,25.95,2022/07/01 04:00:00+00,1
1,1341361,McGraw-Hill's American idioms dictionary,"Spears, Richard A.",9.780071e+12,2007,Book,ELL Collection,South Central,20.00,2022/07/01 04:00:00+00,2
2,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Southwest,19.99,2022/07/01 04:00:00+00,3
3,1341362,McGraw-Hill's essential ESL grammar : a handbo...,"Lester, Mark.",9.780071e+12,2008,Book,ELL Collection,South Central,20.00,2022/07/01 04:00:00+00,4
4,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Southwest,19.99,2022/07/01 04:00:00+00,5

In [6]:
#Checking dtypes and adjusting as needed
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1657555 entries, 0 to 1657554
Data columns (total 11 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   BibNum           1657555 non-null  int64
 1   Title            1657554 non-null  object
 2   Author           1461831 non-null  object
 3   ISBN             1422972 non-null  float64
 4   PublicationYear  1657555 non-null  int64
 5   ItemType         1657555 non-null  object
 6   ItemCollection   1657350 non-null  object
 7   ItemLocation     1657555 non-null  object
 8   ItemPrice        1657555 non-null  float64
 9   ReportDate       1657555 non-null  object
 10  ObjectId         1657555 non-null  int64
dtypes: float64(2), int64(3), object(6)
memory usage: 139.1+ MB

In [7]:
df = df.astype({'ISBN':'object'})
df.dtypes

BibNum               int64
Title               object
Author              object
ISBN                object
PublicationYear      int64
ItemType            object
ItemCollection      object
ItemLocation        object
ItemPrice          float64
ReportDate          object
ObjectId             int64
dtype: object

In [11]:
#Dropping columns?
df.columns

Index(['BibNum', 'Title', 'Author', 'ISBN', 'PublicationYear', 'ItemType',
       'ItemCollection', 'ItemLocation', 'ItemPrice', 'ReportDate',
       'ObjectId'],
      dtype='object')

In [13]:
#Missing data?
df.isna()

df.isna().sum()

BibNum                  0
Title                   1
Author             195724
ISBN               234583
PublicationYear         0
ItemType                0
ItemCollection        205
ItemLocation            0
ItemPrice               0
ReportDate              0
ObjectId                0
dtype: int64

In [ ]:
df.loc[df['Title'].isna()]
#drop?

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate,ObjectId
243965,2239375,NaN,NaN,NaN,0,Book,NaN,Crescent Hill,0.0,2022/07/01 04:00:00+00,243966

In [15]:
df.loc[df['ItemCollection'].isna()]

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate,ObjectId
8026,1353780,LANKIE MANTITA,LESLIE PATRICELLI,NaN,0,Book,NaN,Shively,0.0,2022/07/01 04:00:00+00,8027
8587,2511351,My First Pet,NaN,NaN,0,Book,NaN,Newburg,0.0,2022/07/01 04:00:00+00,8588
10501,1362079,Act of War,"Brown, Dale",NaN,0,Book,NaN,Bon Air,0.0,2022/07/01 04:00:00+00,10502
16848,2410700,FOUR,VERONICA ROTH,NaN,0,Book,NaN,Crescent Hill,0.0,2022/07/01 04:00:00+00,16849
22165,2481658,designing your work life,bill burnett,NaN,0,Book,NaN,St Matthews,0.0,2022/07/01 04:00:00+00,22166
...,...,...,...,...,...,...,...,...,...,...,...
1656927,2528221,The Khipu and the Final Key,Dee Garretson,NaN,0,Book,NaN,Northeast,0.0,2022/07/01 04:00:00+00,1656928
1656933,2528222,MOMMY'S DISEASE,CAROLYN HANNAN,NaN,0,Book,NaN,Southwest,0.0,2022/07/01 04:00:00+00,1656934
1657038,2527377,use,NaN,NaN,0,Book,NaN,Northeast,0.0,2022/07/01 04:00:00+00,1657039
1657505,2527399,the girl in the road,MONICA BYRNE,NaN,0,Book,NaN,Main,0.0,2022/07/01 04:00:00+00,1657506
1657506,2527400,See Night Run,NaN,NaN,0,Book,NaN,Childrens Main Library,0.0,2022/07/01 04:00:00+00,1657507