In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('Louisville_Metro_KY_-_Library_Collection_Inventory_.csv')

In [5]:
df.head()

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate,ObjectId
0,707409,"Jeff Immelt and the new GE way : innovation, t...","Magee, David, 1965-",9.780072e+12,2009,Book,Adult Non-Fiction,Main,25.95,2022/07/01 04:00:00+00,1
1,1341361,McGraw-Hill's American idioms dictionary,"Spears, Richard A.",9.780071e+12,2007,Book,ELL Collection,South Central,20.00,2022/07/01 04:00:00+00,2
2,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Southwest,19.99,2022/07/01 04:00:00+00,3
3,1341362,McGraw-Hill's essential ESL grammar : a handbo...,"Lester, Mark.",9.780071e+12,2008,Book,ELL Collection,South Central,20.00,2022/07/01 04:00:00+00,4
4,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Southwest,19.99,2022/07/01 04:00:00+00,5

In [6]:
#Checking dtypes and adjusting as needed
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1657555 entries, 0 to 1657554
Data columns (total 11 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   BibNum           1657555 non-null  int64
 1   Title            1657554 non-null  object
 2   Author           1461831 non-null  object
 3   ISBN             1422972 non-null  float64
 4   PublicationYear  1657555 non-null  int64
 5   ItemType         1657555 non-null  object
 6   ItemCollection   1657350 non-null  object
 7   ItemLocation     1657555 non-null  object
 8   ItemPrice        1657555 non-null  float64
 9   ReportDate       1657555 non-null  object
 10  ObjectId         1657555 non-null  int64
dtypes: float64(2), int64(3), object(6)
memory usage: 139.1+ MB

In [7]:
df = df.astype({'ISBN':'object'})
df.dtypes

BibNum               int64
Title               object
Author              object
ISBN                object
PublicationYear      int64
ItemType            object
ItemCollection      object
ItemLocation        object
ItemPrice          float64
ReportDate          object
ObjectId             int64
dtype: object

In [11]:
#Dropping columns?
df.columns

Index(['BibNum', 'Title', 'Author', 'ISBN', 'PublicationYear', 'ItemType',
       'ItemCollection', 'ItemLocation', 'ItemPrice', 'ReportDate',
       'ObjectId'],
      dtype='object')

In [13]:
#Missing data?
df.isna()

df.isna().sum()

BibNum                  0
Title                   1
Author             195724
ISBN               234583
PublicationYear         0
ItemType                0
ItemCollection        205
ItemLocation            0
ItemPrice               0
ReportDate              0
ObjectId                0
dtype: int64

In [ ]:
df.loc[df['Title'].isna()]
#drop?

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate,ObjectId
243965,2239375,NaN,NaN,NaN,0,Book,NaN,Crescent Hill,0.0,2022/07/01 04:00:00+00,243966

In [15]:
df.loc[df['ItemCollection'].isna()]

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate,ObjectId
8026,1353780,LANKIE MANTITA,LESLIE PATRICELLI,NaN,0,Book,NaN,Shively,0.0,2022/07/01 04:00:00+00,8027
8587,2511351,My First Pet,NaN,NaN,0,Book,NaN,Newburg,0.0,2022/07/01 04:00:00+00,8588
10501,1362079,Act of War,"Brown, Dale",NaN,0,Book,NaN,Bon Air,0.0,2022/07/01 04:00:00+00,10502
16848,2410700,FOUR,VERONICA ROTH,NaN,0,Book,NaN,Crescent Hill,0.0,2022/07/01 04:00:00+00,16849
22165,2481658,designing your work life,bill burnett,NaN,0,Book,NaN,St Matthews,0.0,2022/07/01 04:00:00+00,22166
...,...,...,...,...,...,...,...,...,...,...,...
1656927,2528221,The Khipu and the Final Key,Dee Garretson,NaN,0,Book,NaN,Northeast,0.0,2022/07/01 04:00:00+00,1656928
1656933,2528222,MOMMY'S DISEASE,CAROLYN HANNAN,NaN,0,Book,NaN,Southwest,0.0,2022/07/01 04:00:00+00,1656934
1657038,2527377,use,NaN,NaN,0,Book,NaN,Northeast,0.0,2022/07/01 04:00:00+00,1657039
1657505,2527399,the girl in the road,MONICA BYRNE,NaN,0,Book,NaN,Main,0.0,2022/07/01 04:00:00+00,1657506
1657506,2527400,See Night Run,NaN,NaN,0,Book,NaN,Childrens Main Library,0.0,2022/07/01 04:00:00+00,1657507

In [22]:
zeros_in_pub_yr = df[df['PublicationYear'] == 0]
zeros_in_pub_yr

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate,ObjectId
5054,1348353,Stolen legacy: the Egyptian origins of western...,"James, George G. M",NaN,0,Book,Interlibrary Loan,Main,0.00,2022/07/01 04:00:00+00,5055
6417,1351064,Bước vào đời : tuồng cải lương,NaN,NaN,0,DVD,Adult DVD,Iroquois,29.99,2022/07/01 04:00:00+00,6418
6515,1351072,Đừng phụ tình đời : DVD cải lương,NaN,NaN,0,Videorecording,Adult DVD,Iroquois,29.99,2022/07/01 04:00:00+00,6516
6592,1351079,Người đẹp và tỷ phú,NaN,NaN,0,DVD,Adult DVD,South Central,29.99,2022/07/01 04:00:00+00,6593
6721,1351089,Đẹp từng centimet.,NaN,NaN,0,DVD,Adult DVD,South Central,29.99,2022/07/01 04:00:00+00,6722
...,...,...,...,...,...,...,...,...,...,...,...
1657143,2528085,"Cognitive Mapping : Past, Present, and Future","Kitchin, Rob",NaN,0,Book,Interlibrary Loan,Main,0.00,2022/07/01 04:00:00+00,1657144
1657146,2528087,Eye of the Beholder,"Krentz, Jayne",NaN,0,Book,Interlibrary Loan,Main,0.00,2022/07/01 04:00:00+00,1657147
1657175,2528088,Sharp Edges,"Krentz, Jayne",NaN,0,Book,Interlibrary Loan,Main,0.00,2022/07/01 04:00:00+00,1657176
1657505,2527399,the girl in the road,MONICA BYRNE,NaN,0,Book,NaN,Main,0.00,2022/07/01 04:00:00+00,1657506
1657506,2527400,See Night Run,NaN,NaN,0,Book,NaN,Childrens Main Library,0.00,2022/07/01 04:00:00+00,1657507

In [23]:
zero_item_price = df[df['ItemPrice'] == 0]
zero_item_price

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate,ObjectId
99,2263735,The Cornwalls Vanish,"DuBois, Brendan",9780316489256.0,2019,Ebook,Electronic,Main,0.0,2022/07/01 04:00:00+00,100
350,2263736,The Best Cook in the World,"Bragg, Rick",9780525520283.0,2018,Ebook,Electronic,Main,0.0,2022/07/01 04:00:00+00,351
351,2263737,The Art of Tapestry Weaving,"Mezoff, Rebecca",9781635861365.0,2020,Ebook,Electronic,Main,0.0,2022/07/01 04:00:00+00,352
352,2263738,Cornwall's Wonderland,"Quiller-couch, Mabel",NaN,2021,Ebook,Electronic,Main,0.0,2022/07/01 04:00:00+00,353
353,2263739,Target: Alex Cross,"Patterson, James",9780316417518.0,2018,Ebook,Electronic,Main,0.0,2022/07/01 04:00:00+00,354
...,...,...,...,...,...,...,...,...,...,...,...
1657502,2527397,A Duke for Diana,"Jeffries, Sabrina",9781420153781.0,2022,Ebook,Electronic,Main,0.0,2022/07/01 04:00:00+00,1657503
1657503,2527398,Secret City,"Kirchick, James",9781250823793.0,2022,Eaudiobook,Electronic,Main,0.0,2022/07/01 04:00:00+00,1657504
1657504,2527398,Secret City,"Kirchick, James",9781250823793.0,2022,Eaudiobook,Electronic,Main,0.0,2022/07/01 04:00:00+00,1657505
1657505,2527399,the girl in the road,MONICA BYRNE,NaN,0,Book,NaN,Main,0.0,2022/07/01 04:00:00+00,1657506
1657506,2527400,See Night Run,NaN,NaN,0,Book,NaN,Childrens Main Library,0.0,2022/07/01 04:00:00+00,1657507

In [26]:
#Find duplicated data
df.duplicated(keep=False).sum()

np.int64(0)

In [27]:
#Find unique values for qualitative data
df['Title'].value_counts()

Title
The courier-journal                                           1352
The Blood-horse.                                              1028
People weekly.                                                 909
Annual report.                                                 588
Consumer reports.                                              498
                                                              ...
Jeeves and the wedding bells : an homage to P.G. Wodehouse       1
Sandrine's Case                                                  1
Ghostgirl : lovesick                                             1
Daughters of the sea : Hannah                                    1
Abstract painting : the elements of visual language              1
Name: count, Length: 601965, dtype: int64

In [28]:
df['ItemCollection'].value_counts()

ItemCollection
Adult Non-Fiction         372781
Electronic                237469
Adult Fiction             173481
Children's Non-Fiction     86854
Mystery                    60164
                           ...
Digital Camera                18
Listening Device              16
Launchpad                     10
Teen Reference                 9
Telescope                      6
Name: count, Length: 64, dtype: int64

In [29]:
df['ItemLocation'].value_counts()

ItemLocation
Main                         416473
Remote Shelving - Main       153026
Northeast                    146500
South Central                141712
Southwest                    137503
Bon Air                       83684
St Matthews                   83030
Jeffersontown                 71236
Iroquois                      61111
Highlands - Shelby Park       53447
Crescent Hill                 52318
Childrens Main Library        42318
Middletown                    37940
Fairdale                      29005
Newburg                       27924
Shively                       27625
Shawnee                       27210
Western                       25123
Portland                      16462
Childrens Bookmobile           9532
Remote Shelving - Shawnee      8302
Main Teen                      6068
Adult Bookmobile                  3
Content Management                3
Name: count, dtype: int64

In [30]:
df['ItemType'].value_counts()

ItemType
Book                                    1181341
Ebook                                    151700
DVD                                       59068
Eaudiobook                                49009
Audio Book on CD                          46109
Serial                                    39889
Music CD                                  37826
Large Print                               32096
Streaming Video                           17413
Emagazine                                  9036
Audio Books                                7839
Microform                                  6748
Streaming Music                            5438
Blu-ray Disc                               4439
Electronic Resources                       4399
Sound Recording                             997
Kit                                         990
Videorecording                              990
Musical Sound Recording                     418
Printed Music                               365
Three Dimensional Object (Artifact)         302
Recorded Events                             284
Atlas                                       224
Book + DVD                                  186
Projected Medium                            109
Map                                          80
Printed Cartographic Material                69
Braille                                      65
Book + CD                                    37
Blu-ray + DVD                                36
Two Dimensional Nonprojected Graphic         35
Manuscript Material                           8
Archival/Mixed Materials                      5
Videotape                                     4
Manuscript Music                              1
Name: count, dtype: int64

In [34]:
#Look over quantitative data
df['ItemPrice'].describe().apply(lambda x: f'${x:,.2f}')

count    $1,657,555.00
mean            $17.40
std             $20.12
min              $0.00
25%              $7.40
50%             $14.99
75%             $24.00
max          $1,077.00
Name: ItemPrice, dtype: object